<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <!-- <div class="col-md-2 text-center portrait">
                    <img style="width:250px" src="img/1.png">
                </div> -->
                <div class="left col-md-6 col-sm-6">
                 <h1>About</h1>
                 <h2 class="text-heading">In 200 words:</h2>
                    <p class="text-copy">In case you still wondering about the spelling of my name, I hope you have seen "Rush Hour" because it is spelled as "mi"!
                    My friends regard me as a happy, laughing person who refuses to take any drink without full sugar. 

                    I am currently a senior majoring in m with a concentration in statistic at UC Berkeley. My philosophy is "attitude makes differences", and it governs how I work, collaborate, and grow. 

                    I am raised as a traditional Northern Vietnam who embraces cultural identity and refinement. My values roots in three basics tenets: allegiance to the family, love of learning, and respect for other people.
                    </p>
                <div class="right col-md-10 col-sm-13"> 
                    <span class="photo"></span> </span>
                <div class="wrap">
                <p class="text-copy"> 
                    
                    My background as a business enthusiast helped me realize being able to interpret and manipulate data is essential to achieve optimized solutions to any business problem. With a vision to integrate the science into the business part, I am aiming towards the application of data science in decision making and forecast process. 

                    I am proficient in R, Python, SQL and data visualization. My project topics include market prediction, scientific computation, and, social harm estimation. 

                    I am an avid learner, quick adapter, and dedicated worker. Seeking for any opportunity to practice machine learning and data science.

                </p>
                <a href="/img/myresume.pdf" class="btn btn-lg btn-outline btn-resume">
                     See Resume
                </a>

                </div>
            </div>
    </section>