<!-- Services Section -->


    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projects</h2>
                    <h3 class="section-subheading text-muted">I share most of projects on Github. Feel free to check around! Here are some interesting projetcts that I've done:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-taxi fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Predictive Policing</h4>
                    <p class="text-muted">Implement Machine Learning algorithms to predict crime occurence in Indianpolis grid-region and help the police allocate patrol units to minimize social harm cost .</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Boyd Corporation Scorecard Database</h4>
                    <p class="text-muted">Design A database prototype for Boyd Corporation to transform disparate Excel spreadsheets into a single automatic updated database. Machine Learning algorithms to optimze production efficiency </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Google Query Trend via Time Series </h4>
                    <p class="text-muted">Forecast 2 years trend of weekly Google queries given the data spaned in 8 year periods. Implement ARIMA with Fourier and Outlier Regression, TBATS, Exponential Smoothing State Space.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Kaggle House Price Prediction </h4>
                    <p class="text-muted">Predict house prices in Ames, Iowa using regression techniques</p>
                </div>
            </div>
        </div>
    </section>


